html {
  font-family: 'Oxygen', sans-serif;
  background-image:url('http://jbmcmahan.github.io/pics/beach.jpg');
  background-size: cover;
  margin:0px;
  background-repeat: no-repeat;
  color: #fff;
}

.nav {
  display: inline;
}
