<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<ul class="icons">
						<li><a href="mailto:jbmcmahan@gmail.com" class="icon fa-envelope"></a></li>
						<li><a href="https://www.facebook.com/jeff.mcmahan.9" class="icon fa-facebook"></a></li>
						<li><a href="https://github.com/jbmcmahan" class="icon fa-github"></a></li>
						<li><a href="https://www.researchgate.net/profile/Jeffrey_Mcmahan" class="icon ai ai-researchgate"></a></li>
						<li><a href="https://www.mendeley.com/profiles/jeff-mcmahan1/" class="icon ai ai-mendeley"></a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; Jeff McMahan</li>
						<li>Design: <a href="http://templated.co">TEMPLATED</a></li>
					</ul>
				</div>
			</footer>
