<!-- Header -->
  <header id="header" class="alt">
    <h1><a href="index.html">Jeff <strong>McMahan</strong></a></h1>
    <nav id="nav">
      <ul>
        <li><a href="{{ site.baseurl }}/index.html">Home</a></li>
        <li><a href="{{ site.baseurl }}/projects.html">Projects</a></li>
        <li><a href="{{ site.baseurl }}/publications.html">Publications</a></li>
        <li><a href="{{ site.baseurl }}/experience.html">Experience</a></li>
        <li><a href="{{ site.baseurl }}/travel.html">Travel</a></li>
        <li><a href="{{ site.baseurl }}/photos.html">Photos</a></li>
      </ul>
    </nav>
  </header>
