---
layout: default
---
<section id="main" class="wrapper">
	<div class="container">
		<header class="major special">
			<h2>{{ page.title }}</h2>
			<p>{{ page.date | date: "%b %-d, %Y" }}</p>
		</header>
    <div class="align-center">
		  {{ content }}
    </div>
	</div>
</section>
<div class="container">
	{% assign items = site.posts | where: "group", "photo" %}
	{% for item in items %}
			{% if item.url == page.url %}
					{% assign post_index0 = forloop.index0 %}
					{% assign post_index1 = forloop.index %}
			{% endif %}
	{% endfor %}
	{% for item in items %}
			{% if post_index0 == forloop.index %}
					{% assign next_post = item.url %}
			{% endif %}
			{% if post_index1 == forloop.index0 %}
					{% assign prev_post = item.url %}
			{% endif %}
	{% endfor %}
	{% if prev_post %}
			<a href="{{ prev_post }}" class="float-left">&larr; Previous Post</a>
	{% endif %}
	{% if next_post %}
			<a href="{{ next_post }}" class="float-right"> Next Post &rarr;</a>
	{% endif %}
</div>
